<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Workout Beans</title>
    
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Workout Beans</h1>
        <p>Because fitnessbeans.com was taken</p>
        <p class="view"><a href="">Regular dude</a><small>Just your regular busy guy</small></p>
        <p class="view"><a href="">Athletic dude</a><small>This guy has ambitions</small></p>
        <p class="view"><a href="">Older dude</a><small>He wants to hike and travel</small></p>
        <p class="view"><a href="">Hot chick</a><small>Need I say more?</small></p>
      </header>
      <section>
	{{ content }}
      </section>
      <footer>
        <p>Another Silver Bullet production</p>
        <p><small>Content by Michael Terry &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
